@use "./../../../../assets/styles/colors.scss" as *;

.sidebar {
  padding: 56px 28px;
  width: 280px;
  height: 100vh;
  height: 100dvh;
  background-color: #191919;
  color: var(--color-white);
}

@media screen and (max-width: 1440px) {
  .sidebar {
    padding: 18px 9px;
    width: 80px;
  }
}
