<section class="overview">
  <div class="overview-top">
    <div class="balances">
      <div class="headline">Total Balances</div>
      <div class="content">
        <app-balance-overview-card />
      </div>
    </div>
    <div class="goals">
      <div class="headline">Goals</div>
      <div class="content">
        <app-goals-overview-card />
      </div>
    </div>
    <div class="bills">
      <div class="header">
        <div class="headline">Upcoming Bill</div>
        <div class="view-all-container" routerLink="/bills">
          <p>View All</p>
          <img
            class="chevron-right-icon"
            src="assets/img/button/chevron-right.svg"
            alt="chevron-right"
          />
        </div>
      </div>
      <div class="content">
        <app-bills-overview-card />
      </div>
    </div>
  </div>
  <div class="overview-bottom">
    <div class="transactions">
      <div class="header">
        <div class="headline">Recent Transactions</div>
        <div class="view-all-container" routerLink="/transactions">
          <p>View All</p>
          <img
            class="chevron-right-icon"
            src="assets/img/button/chevron-right.svg"
            alt="chevron-right"
          />
        </div>
      </div>
      <div class="content">
        <app-transactions-overview-card />
      </div>
    </div>
    <div class="right-column">
      <div class="statistic">
        <div class="headline">Statistic</div>
        <div class="content">
          <app-line-chart-expenses [view]="[680, 208]" [selectedYear]="2024" />
        </div>
      </div>
      <div class="expenses">
        <div class="headline">Expenses Breakdown</div>
        <div class="content"></div>
      </div>
    </div>
  </div>
</section>
