<section class="overview">
  <div class="overview-top">
    <div class="balances">
      <app-headline [title]="'Total Balances'"></app-headline>
      <div class="content">
        <app-balance-overview-card />
      </div>
    </div>
    <div class="goals">
      <app-headline [title]="'Goals'"></app-headline>
      <div class="content">
        <app-goals-overview-card />
      </div>
    </div>
    <div class="bills">
      <div class="header">
        <app-headline [title]="'Upcoming Bill'"></app-headline>
        <div class="view-all-container" routerLink="/bills">
          <p>View All</p>
          <img
            class="chevron-right-icon"
            src="assets/img/button/chevron-right.svg"
            alt="chevron-right"
          />
        </div>
      </div>
      <div class="content">
        <app-bills-overview-card />
      </div>
    </div>
  </div>
  <div class="overview-bottom">
    <div class="transactions">
      <div class="header">
        <app-headline [title]="'Recent Transactions'"></app-headline>
        <div class="view-all-container" routerLink="/transactions">
          <p>View All</p>
          <img
            class="chevron-right-icon"
            src="assets/img/button/chevron-right.svg"
            alt="chevron-right"
          />
        </div>
      </div>
      <div class="content">
        <app-transactions-overview-card />
      </div>
    </div>
    <div class="right-column">
      <div class="statistic">
        <app-headline [title]="'Statistic'"></app-headline>
        <div class="content">
          <app-line-chart-statistic [view]="[680, 208]" />
        </div>
      </div>
      <div class="expenses">
        <app-headline [title]="'Expenses Breakdown'"></app-headline>
        <div class="content"></div>
      </div>
    </div>
  </div>
</section>
