<section class="overview">
  <div class="overview-top">
    <div class="balances">
      <div class="headline">Total Balances</div>
      <div class="content">
        <app-overview-card-balances />
      </div>
    </div>
    <div class="goals">
      <div class="headline">Goals</div>
      <div class="content"></div>
    </div>
    <div class="bills">
      <div class="headline">Upcoming Bill</div>
      <div class="content"></div>
    </div>
  </div>
  <div class="overview-bottom">
    <div class="transactions">
      <div class="headline">Recent Transactions</div>
      <div class="content"></div>
    </div>
    <div class="right-column">
      <div class="statistic">
        <div class="headline">Statistic</div>
        <div class="content"></div>
      </div>
      <div class="expenses">
        <div class="headline">Expenses Breakdown</div>
        <div class="content"></div>
      </div>
    </div>
  </div>
</section>
