@use "./../../../assets/styles/colors.scss" as *;

.headline {
  font-size: 22px;
  font-weight: 400;
  color: #878787;
  margin-bottom: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview {
  display: flex;
  flex-direction: column;

  .overview-top {
    display: flex;
    gap: 24px;
  }

  .overview-bottom {
    display: flex;
    margin-top: 32px;
    gap: 24px;

    .right-column {
      display: flex;
      flex-direction: column;
    }
  }
}

.balances,
.goals,
.bills {
  width: 352px;
  height: 272px;
}

.transactions {
  width: 352px;
  height: 582px;
}

.statistic {
  width: 728px;
  height: 298px;
}

.expenses {
  margin-top: 32px;
  width: 728px;
  height: 252px;
}

.content {
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px 24px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 20px 25px 0px #4c67641a;
}

// View all

.view-all-container {
  display: flex;
  margin-bottom: 12px;

  .chevron-right-icon {
    width: 16px;
    height: 16px;
    filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(1304%)
      hue-rotate(185deg) brightness(89%) contrast(66%);
    transition: transform 0.3s, color 0.3s;
  }

  p {
    font-size: 12px;
    font-weight: 500;
    padding-right: 6px;
    color: #878787;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }

    &:hover + .chevron-right-icon {
      filter: brightness(0) saturate(100%) invert(66%) sepia(8%) saturate(2879%)
        hue-rotate(125deg) brightness(77%) contrast(97%);
    }
  }
}
