.layout {
  display: flex;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  height: 88px;
}

.content {
  padding: 24px;
  background-color: var(--color-background);
  overflow-y: auto;
  position: relative;
}
