@use "./../../../assets/styles/colors.scss" as *;

.bills {
  display: flex;
  flex-direction: column;
}

.headline {
  font-size: 22px;
  font-weight: 400;
  color: #878787;
  margin-bottom: 12px;
}

.content {
  padding: 24px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 20px 25px 0px #4c67641a;
  margin-bottom: 24px;
}

// Table

table {
  width: 100%;
  border-collapse: collapse;

  th {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
    text-align: left;
    width: 100%;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        width: nth(10% 20% 40% 18% 12%, $i);
      }
    }
  }

  td .date,
  td .amount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
  }

  tbody tr {
    border-top: 1px solid rgba(#000, 0.1);
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78px;
  width: 74px;
  border-radius: 6px;
  gap: 6px;
  background-color: #f4f4f4;

  p {
    font-size: 16px;
    font-weight: 400;
    color: #878787;
  }

  span {
    font-size: 22px;
    font-weight: 600;
    color: #525256;
  }
}

.item {
  font-size: 16px;
  font-weight: 600;
}

.last-charge {
  color: #878787;
}

.amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 96px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;

  p {
    font-size: 16px;
    font-weight: 700;
  }
}
