<section class="bills">
  <div class="headline">Upcoming Bills</div>
  <div class="content">
    <table>
      <thead>
        <tr>
          <th class="center">Due Date</th>
          <th class="center">Item</th>
          <th class="left">Description</th>
          <th class="center">Last Charge</th>
          <th class="center">Amount</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let bill of allUserBills$ | async">
          <td class="center">
            <div class="date">
              <p>{{ bill.nextExecutionDate }}</p>
              <span>{{ bill.executionDay }}</span>
            </div>
          </td>
          <td class="center">
            <div class="item">{{ bill.item }}</div>
          </td>
          <td class="left">{{ bill.description }}</td>
          <td class="center">
            <div class="last-charge">{{ bill.formattedLastExecution }}</div>
          </td>
          <td class="center">
            <div class="amount">
              <p>{{ bill.formattedAmount }}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
