<section class="bills">
  <div class="headline">Upcoming Bills</div>
  <div class="content">
    <table>
      <thead>
        <tr>
          <th class="center">Due Date</th>
          <th class="center">Item</th>
          <th class="left">Description</th>
          <th class="center">Last Charge</th>
          <th class="center">Amount</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="center">
            <div class="date">
              <p>May</p>
              <span>15</span>
            </div>
          </td>
          <td class="center"><div class="item">Figma</div></td>
          <td class="left">For advanced security and more...</td>
          <td class="center"><div class="last-charge">14. May, 2024</div></td>
          <td class="center">
            <div class="amount"><p>$150</p></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
