<section class="bills">
  <div class="header">
    <div class="headline">Upcoming Bills</div>
    <div class="select-container">
      <select
        [(ngModel)]="selectedAccount"
        (change)="setSelectedAccount()"
        id="selectedAccount"
        name="selectedAccount"
      >
        <option
          *ngFor="let account of accountsData$ | async"
          [ngValue]="account.id"
        >
          {{ account.name }}
        </option>
      </select>
      <img
        class="down-arrow-icon"
        src="assets/img/arrow-down.svg"
        alt="arrow-down"
      />
    </div>
  </div>

  <div class="content">
    <table>
      <thead>
        <tr>
          <th class="center">Due Date</th>
          <th class="center">Item</th>
          <th class="left">Description</th>
          <th class="center">Last Charge</th>
          <th class="center">Amount</th>
        </tr>
      </thead>

      <tbody>
        <!-- Iterates over the bills array asynchronously -->
        @for (bill of allUserBills$ | async; track bill.id) {

        <!-- Checks if the bill belongs to the selected account -->
        @if (bill.accountId === selectedAccount) {
        <tr>
          <td class="center">
            <div class="date">
              <p>{{ bill.nextExecutionDate }}</p>
              <span>{{ bill.executionDay }}</span>
            </div>
          </td>
          <td class="center">
            <div class="item">{{ bill.item }}</div>
          </td>
          <td class="left">{{ bill.description }}</td>
          <td class="center">
            <div class="last-charge">{{ bill.formattedLastExecution }}</div>
          </td>
          <td class="center">
            <div class="amount">
              <p>{{ bill.formattedAmount }}</p>
            </div>
          </td>
        </tr>
        }}
      </tbody>
    </table>
  </div>
</section>
