<div class="breakdowns">
  <div class="breakdown">
    <div class="header">
      <img [src]="'assets/img/goals/housing.svg'" alt="" />
      <div class="container">
        <div class="category">Housing</div>
        <div class="amount">$250.00</div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="item">House Rent</div>
        <div class="amount-date">
          <div class="amount">$230.00</div>
          <div class="date">17 May 2024</div>
        </div>
      </div>

      <div class="container">
        <div class="item">Parking</div>
        <div class="amount-date">
          <div class="amount">$20.00</div>
          <div class="date">16 May 2024</div>
        </div>
      </div>

      <!-- <div *ngIf="!$last" class="divider"></div> -->
    </div>
  </div>
</div>
