@if (settingsData$ | async; as settings) {
<!-- Checks whether selectedPickerMonthYear is valid -->
@if (isValidMonthYear(settings)) {
<div class="breakdowns">
  <!-- Iterates over the transactionsData -->
  @for (categoryData of transactionsData$ | async; track categoryData.category)
  {
  <div class="breakdown">
    <div>
      <div class="header">
        <div class="category-img">
          <img
            [src]="
              'assets/img/goals/' + categoryData.category.toLowerCase() + '.svg'
            "
            alt=""
          />
        </div>
        <!-- Finds matching category total -->
        @for (totalData of totalTransactionsData$ | async; track
        totalData.category) { @if (categoryData.category === totalData.category)
        {
        <div class="container">
          <div class="category">{{ categoryData.category }}</div>
          <div class="amount">
            ${{ totalData.totalAmount / 100 | number : "1.2-2" }}
          </div>
        </div>
        @if(allGoals$ | async; as allGoals) { @for (goal of allGoals; track
        goal.index) { @if(goal.goal == totalData.category) {
        <div class="comparison" *ngIf="totalData.totalAmount / goal.amount">
          {{ (totalData.totalAmount / goal.amount) * 100 | number : "1.0-0" }}%
          <img
            *ngIf="totalData.totalAmount / goal.amount < 1"
            src="assets/img/transactions/revenue.svg"
            alt="comparison icon"
          />
          <img
            *ngIf="totalData.totalAmount / goal.amount >= 1"
            src="assets/img/transactions/expense.svg"
            alt="comparison icon"
          />
        </div>
        } } } } }
      </div>

      <div class="content">
        <!-- Checks if there are any transactions -->
        @if (categoryData.transactions.length > 0) {

        <!-- Iterates over each transaction -->
        @for (transaction of categoryData.transactions; track transaction.id) {
        <div class="container">
          <div class="item">{{ transaction.item }}</div>
          <div class="amount-date">
            <div class="amount">{{ transaction.formattedAmount }}</div>
            <div class="date">{{ transaction.formattedDate }}</div>
          </div>
        </div>

        <!-- Adds a separator except for the last transaction -->
        @if (!$last) {
        <div class="divider"></div>
        } } } @else {
        <div class="no-expenses">No expenses found</div>
        }
      </div>
    </div>
  </div>
  }
</div>
}}
