@use "./../../../../assets/styles/colors.scss" as *;

.overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 44px;
    gap: 0px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);

    .total-ammount {
      display: flex;
      align-items: center;
      height: 32px;
      font-size: 22px;
      font-weight: 800;
      color: var(--color-black);
    }

    .all-accounts {
      display: flex;
      align-items: center;
      height: 32px;
      font-size: 14px;
      font-weight: 500;
      color: #525256;

      img {
        width: 48px;
        height: 32px;
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 4px;
    gap: 12px;
    height: 96px;

    .account-type {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 136px;
      height: 64px;

      p {
        font-size: 20px;
        font-weight: 700;
      }

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .account-ammount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 136px;
      height: 64px;
      color: var(--color-white);

      .account-ammount-details {
        display: flex;
        align-items: center;
        gap: 6px;

        p {
          font-size: 16px;
          font-weight: 700;
        }

        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
          border-radius: 50%;
          &:hover {
            transform: translateY(-0.5px);
            box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .next {
      display: flex;
      justify-content: flex-end;
      gap: 4px;
      width: 80px;

      p {
        font-size: 14px;
        font-weight: 500;
      }

      img {
        width: 16px;
        height: 16px;
        filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(15%)
          hue-rotate(337deg) brightness(100%) contrast(107%);
      }
    }

    .previous {
      display: flex;
      justify-content: flex-start;
      gap: 4px;
      width: 80px;

      p {
        font-size: 14px;
        font-weight: 500;
        color: #d1d1d1;
      }

      img {
        width: 16px;
        height: 16px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(5543%) hue-rotate(170deg) brightness(113%) contrast(64%);
        transform: scaleX(-1);
      }
    }

    .slider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      img {
        width: 8px;
        height: 8px;
      }
    }
  }
}
