<div class="navbar">
  <div class="logo">
    <span class="logo-part">FINE</span>
    <span class="logo-accent">bank.</span>
    <span class="logo-part">IO</span>
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/overview" routerLinkActive="active">
          <img src="assets/img/sidebar/overview.svg" alt="Overview Icon" />
          Overview
        </a>
      </li>
      <li>
        <a routerLink="/balances" routerLinkActive="active">
          <img src="assets/img/sidebar/balances.svg" alt="Balances Icon" />
          Balances
        </a>
      </li>
      <li>
        <a routerLink="/transactions" routerLinkActive="active">
          <img
            src="assets/img/sidebar/transactions.svg"
            alt="Transactions Icon"
          />
          Transactions
        </a>
      </li>
      <li>
        <a routerLink="/bills" routerLinkActive="active">
          <img src="assets/img/sidebar/bills.svg" alt="Bills Icon" />
          Bills
        </a>
      </li>
      <li>
        <a routerLink="/expenses" routerLinkActive="active">
          <img src="assets/img/sidebar/expenses.svg" alt="Expenses Icon" />
          Expenses
        </a>
      </li>
      <li>
        <a routerLink="/goals" routerLinkActive="active">
          <img src="assets/img/sidebar/goals.svg" alt="Goals Icon" />
          Goals
        </a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="active">
          <img src="assets/img/sidebar/settings.svg" alt="Settings Icon" />
          Settings
        </a>
      </li>
    </ul>
  </nav>
</div>
