@use "./../../../../../assets/styles/colors.scss" as *;

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  font-size: 24px;
  letter-spacing: 2px;

  .logo-part {
    font-weight: 800;
  }

  .logo-accent {
    font-weight: 400;
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  list-style: none;
  padding: 0px;
  gap: 12px;
  li {
    width: 100%;

    img {
      width: 24px;
      height: 24px;
      margin: 0 16px;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #ffffffb2;
      height: 48px;
      font-size: 16px;
      font-weight: 400;
      border-radius: 4px;
      transition: 0.5s ease;
      cursor: pointer;

      &.active {
        font-weight: 600;
        color: var(--color-white);
        background-color: var(--color-primary);
        text-shadow: 1px 1px 1px var(--color-black);
        cursor: auto;
        img {
          filter: brightness(0) saturate(100%) invert(99%) sepia(1%)
            saturate(616%) hue-rotate(155deg) brightness(118%) contrast(100%);
        }
      }

      &:hover:not(.active) {
        background-color: #2b2b2b;
      }
    }
  }
}

.footer {
  .logout {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #ffffffb2;
      height: 48px;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      border-radius: 4px;
      background-color: #272727;
      cursor: pointer;
      img {
        width: 24px;
        height: 24px;
        margin: 0 16px;
      }
      &:hover {
        background-color: #2b2b2b;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
  }

  nav ul li,
  .footer .logout {
    display: flex;
    justify-content: center;

    a {
      width: 100%;

      img {
        width: 100%;
        margin: 0;
      }
    }

    span {
      display: none;
    }
  }
}
