<div class="navbar">
  <!-- Logo -->
  <div>
    <div class="logo">
      <span class="logo-part">FINE</span>
      <span class="logo-accent">bank.</span>
      <span class="logo-part">IO</span>
    </div>

    <!-- Navigation -->
    <nav>
      <ul>
        <li>
          <a routerLink="/overview" routerLinkActive="active">
            <img src="assets/img/sidebar/overview.svg" alt="Overview Icon" />
            <span>Overview</span>
          </a>
        </li>
        <li>
          <a routerLink="/balances" routerLinkActive="active">
            <img src="assets/img/sidebar/balances.svg" alt="Balances Icon" />
            <span>Balances</span>
          </a>
        </li>
        <li>
          <a routerLink="/statistics" routerLinkActive="active">
            <img src="assets/img/sidebar/statistic.svg" alt="Statistic Icon" />
            <span>Statistics</span>
          </a>
        </li>
        <li>
          <a routerLink="/transactions" routerLinkActive="active">
            <img
              src="assets/img/sidebar/transactions.svg"
              alt="Transactions Icon"
            />
            <span>Transactions</span>
          </a>
        </li>
        <li>
          <a routerLink="/bills" routerLinkActive="active">
            <img src="assets/img/sidebar/bills.svg" alt="Bills Icon" />
            <span>Bills</span>
          </a>
        </li>
        <li>
          <a routerLink="/expenses" routerLinkActive="active">
            <img src="assets/img/sidebar/expenses.svg" alt="Expenses Icon" />
            <span>Expenses</span>
          </a>
        </li>
        <li>
          <a routerLink="/goals" routerLinkActive="active">
            <img src="assets/img/sidebar/goals.svg" alt="Goals Icon" />
            <span>Goals</span>
          </a>
        </li>
        <li>
          <a routerLink="/settings" routerLinkActive="active">
            <img src="assets/img/sidebar/settings.svg" alt="Settings Icon" />
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Logout / Profile -->
  <div class="footer">
    <div class="logout">
      <a routerLink="/logout">
        <img src="assets/img/sidebar/logout.svg" alt="Logout Icon" />
        <span>Logout</span>
      </a>
    </div>
    <div class="profile"></div>
  </div>
</div>
