<section class="account-details">
  <div class="headline">Account Details</div>
  <div class="details">
    <div class="details-content">
      <div class="details-item">
        <label>Bank Name</label>
        <span></span>
      </div>

      <div class="details-item">
        <label>Account Type</label>
        <span></span>
      </div>

      <div class="details-item">
        <label>Balance</label>
        <span></span>
      </div>

      <div class="details-item">
        <label>Account Number</label>
        <span></span>
      </div>

      <div class="details-item">
        <label>Added Date</label>
        <span></span>
      </div>

      <div class="details-item placeholder"></div>
    </div>

    <div class="details-buttons">
      <app-button buttonText="Edit Details" />
      <div class="link">Remove</div>
    </div>
  </div>
</section>

<section class="transaction-history">
  <div class="headline">Transactions History</div>
  <div class="history">
    <div class="history-button">
      <app-button buttonText="Load More" />
    </div>
  </div>
</section>
