@use "./../../../assets/styles/colors.scss" as *;

.headline {
  font-size: 22px;
  font-weight: 400;
  color: #878787;
  margin-bottom: 12px;
}

.details,
.history {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 20px 25px 0px #4c67641a;
}

.details {
  height: fit-content;
  margin-bottom: 24px;
}

.details-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;

  .placeholder {
    visibility: hidden;
  }

  .details-item {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1;

    label {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 3px;
      color: #9f9f9f;
    }
    span {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.details-buttons {
  display: flex;
  align-items: center;
  gap: 48px;

  .link {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.history {
  height: fit-content;
}

.history-button {
  display: flex;
  justify-content: center;
}
