<section class="transactions">
  <div class="headline">
    {{ headline }}
    <app-month-year-picker [accountId]="this.accountId"></app-month-year-picker>
  </div>

  <nav>
    <ul>
      <li>
        <a
          (click)="selectedType = 'all'"
          [class.active]="selectedType === 'all'"
          >All</a
        >
      </li>
      <li>
        <a
          (click)="selectedType = 'revenue'"
          [class.active]="selectedType === 'revenue'"
          >Revenue</a
        >
      </li>
      <li>
        <a
          (click)="selectedType = 'expense'"
          [class.active]="selectedType === 'expense'"
          >Expenses</a
        >
      </li>
    </ul>
  </nav>

  <!-- Checks whether the transactionsData$ observable has emitted a value -->
  @if (transactionsData$ | async; as allTransactions) {
  <div class="transactions-content">
    <table>
      <thead>
        <tr>
          <th class="left">Item</th>
          <th class="center">Shop</th>
          <th class="center">Date</th>
          <th class="center">Payment Method</th>
          <th class="right">Amount</th>
        </tr>
      </thead>

      <!-- Checks whether the data is not loaded -->
      @if (!isLoading) {
      <tbody>
        <!-- Iterates over the filtered transactions using trackBy for performance optimization -->
        @for (transaction of allTransactions | filterTransactions :
        selectedType; track trackByTransactionId(transaction)) {
        <tr>
          <td class="left">{{ transaction.item }}</td>
          <td class="center">{{ transaction.shop }}</td>
          <td class="center">{{ transaction.formattedDate }}</td>

          <!-- Checks whether the accountsData$ observable has emitted a value -->
          @if (accountsData$ | async; as accounts) {

          <!-- Iterates over the account data. -->
          @for (account of accounts; track account.id) {

          <!-- Checks whether the account matches the transaction -->
          @if (account.id == transaction.accountId) {
          <td class="center">{{ account.type }}</td>
          } } }
          <td class="right">
            <div class="amount">
              <img
                *ngIf="transaction.type === 'revenue'"
                src="assets/img/transactions/revenue.svg"
                alt="revenue icon"
              />
              <img
                *ngIf="transaction.type === 'expense'"
                src="assets/img/transactions/expense.svg"
                alt="expense icon"
              />
              {{ transaction.formattedAmount }}
            </div>
          </td>
        </tr>
        }
      </tbody>
      }
    </table>

    <!-- Checks for no transactions, loading complete, and no error message -->
    @if ((allTransactions | filterTransactions : selectedType).length === 0 &&
    !isLoading && errorMessage === "") {
    <div class="no-transactions">No transactions available</div>
    }

    <!-- Checks for loading state or error message after loading -->
    @if (isLoading) {
    <div class="no-transactions">Loading...</div>
    } @else if (errorMessage !== "") {
    <div class="no-transactions">{{ errorMessage }}</div>
    }

    <div class="transactions-button">
      <app-button
        buttonText="Load More"
        [disabled]="
          (allTransactions | filterTransactions : selectedType).length >=
          numberOfAllTransactions
        "
        (buttonClick)="loadMoreTransactions()"
      />
    </div>
  </div>
  }
</section>
