<div class="line-chart" *ngIf="selectedYear != 0">
  <ngx-charts-bar-vertical-2d
    *ngIf="hasData"
    [view]="view"
    [results]="saleData"
    [legend]="false"
    [showGridLines]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [yAxisTickFormatting]="formatYAxisTick"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="false"
    [customColors]="customColors"
    [groupPadding]="4"
  >
  </ngx-charts-bar-vertical-2d>

  <div class="loading-spinner" *ngIf="!hasData">
    <img src="assets/img/sync.svg" alt="sync" (click)="reloadData()" />
  </div>
</div>
