@use "./../../../../assets/styles/colors.scss" as *;

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 6px;
  gap: 24px;

  li {
    width: fit-content;
    padding: 0 6px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      color: var(--color-black);
      cursor: pointer;
      position: relative;

      &.active {
        color: var(--color-primary);
        cursor: auto;
      }

      &.active::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: -6px;
        width: calc(100% + 12px);
        height: 2px;
        background-color: var(--color-primary);
      }

      &:hover:not(.active) {
        color: var(--color-primary);
      }
    }
  }
}

.transactions-content {
  .transaction {
    display: flex;
    justify-content: space-between;
    padding: 28px 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    &:last-child {
      border-bottom: none;
    }
  }

  .right-content,
  .left-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .right-content {
    align-items: end;
  }

  .item,
  .amount {
    font-size: 16px;
    font-weight: 600;
  }

  .shop,
  .date {
    font-size: 12px;
    font-weight: 400;
    color: #9f9f9f;
  }

  .amount {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
