@use "./../../../assets/styles/colors.scss" as *;

.content {
  display: flex;
  gap: 24px;
}

.headline {
  font-size: 22px;
  font-weight: 400;
  color: #878787;
  margin-bottom: 12px;
}

.account {
  width: 352px;
  height: 288px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 20px 25px 0px #4c67641a;
}

.add-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 24px;
  .link {
    font-size: 16px;
    font-weight: 500;
    color: #9f9f9f;
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }
}
