<section class="balances">
  <div class="headline">Balances</div>

  <div class="balance">
    <!-- Existing account -->
    <div class="account">
      <div class="existing-account">
        <div class="header">
          <div class="account-type">Credit Card</div>
          <div class="account-provider">Master Card</div>
        </div>

        <div class="content">
          <div class="account-info">
            <p>3388 4556 8860 8***</p>
            <span>Account Number</span>
          </div>
          <div class="account-info">
            <p>$25,000</p>
            <span>Total Balance</span>
          </div>
        </div>

        <div class="footer">
          <div class="link">Remove</div>
          <app-button buttonText="Details" />
        </div>
      </div>
    </div>

    <!-- Add account -->
    <div class="account">
      <div class="add-account">
        <app-button buttonText="Add Account" />
        <div class="link">Edit Accounts</div>
      </div>
    </div>
  </div>
</section>
