<section class="balances">
  <div class="headline">Balances</div>

  <div class="balance">
    <!-- Existing account -->
    @for(account of allAccounts$ | async; track account.id) {
    <div class="account">
      <div class="existing-account">
        <div class="header">
          <div class="account-type">{{ account.name }}</div>
          <div class="account-provider">
            {{ account.type }}
            @if (account.type == "Master Card") {
            <img src="assets/img/balances/mastercard.svg" alt="" />
            } @if (account.type == "Bank Account") {
            <img src="assets/img/balances/ec-card.svg" alt="" />
            }
          </div>
        </div>

        <div class="content">
          <div class="account-info">
            <p>{{ account.number }}</p>
            <span>Account Number</span>
          </div>
          <div class="account-info">
            <p>{{ account.balance }} €</p>
            <span>Total Balance</span>
          </div>
        </div>

        <div class="footer">
          <div class="link">Remove</div>
          <app-button
            buttonText="Details"
            buttonSize="small"
            [buttonIcon]="true"
          />
        </div>
      </div>
    </div>
    }

    <!-- Add account -->
    <div class="account">
      <div class="add-account">
        <app-button buttonText="Add Account" />
        <div class="link">Edit Accounts</div>
      </div>
    </div>
  </div>
</section>
