<section class="balances">
  <div class="headline">Balances</div>

  <div class="balance">
    <!-- Existing account -->
    @for(account of accountsData$ | async; track account.id) {
    <div class="account">
      <div class="existing-account">
        <div class="header">
          <div class="account-type">{{ account.name }}</div>
          <div class="account-provider" [ngSwitch]="account.type">
            {{ account.type }}
            <img
              *ngSwitchCase="'Master Card'"
              src="assets/img/balances/mastercard.svg"
              alt="Master Card"
            />
            <img
              *ngSwitchCase="'Bank Account'"
              src="assets/img/balances/ec-card.svg"
              alt="Bank Account"
            />
          </div>
        </div>

        <div class="content">
          <div class="account-info">
            <p>{{ account.maskedNumber }}</p>
            <span>Account Number</span>
          </div>
          <div class="account-info">
            <p>
              {{
                individualBalances$.get(account.id!)?.asObservable()
                  | async
                  | currency : "USD" : "symbol" : "1.2-2"
              }}
            </p>
            <span>Total Balance</span>
          </div>
        </div>

        <div class="footer">
          <div class="link">Remove</div>
          <app-button
            buttonText="Details"
            buttonSize="small"
            [buttonIcon]="true"
            [routerLink]="['/account-details', account.id]"
          />
        </div>
      </div>
    </div>
    }

    <!-- Add account -->
    <div class="account">
      <div class="add-account">
        <app-button buttonText="Add Account" />
        <div class="link">Edit Accounts</div>
      </div>
    </div>
  </div>
</section>
