<section class="expenses">
  <div class="expenses-breakdown">
    <div class="header">
      <div class="headline">Expenses Breakdown</div>
      <div
        class="selection"
        (click)="toggleMonthYearPicker(); $event.stopPropagation()"
      >
        <!-- Checks whether the settingsData$ observable has emitted a value -->
        @if (settingsData$ | async; as settings) {
        <p>
          {{ getSettingsMonthName(settings) }}
          {{ getSettingsYear(settings) }}
        </p>
        }
        <img
          class="down-arrow-icon"
          src="assets/img/arrow-down.svg"
          alt="arrow-down"
        />
      </div>

      <!-- Checks whether the settingsData$ observable has emitted a value -->
      @if (settingsData$ | async; as settings) {
      <app-month-year-picker
        [selectedMonth]="getSettingsMonth(settings)"
        [selectedYear]="getSettingsYear(settings)"
        (mouseleave)="toggleMonthYearPicker()"
      ></app-month-year-picker>
      }
    </div>
    <app-breakdown></app-breakdown>
  </div>
</section>
