<section class="expenses">
  <div class="comparison-revenue-expenses">
    <div class="header">
      <div class="headline">Comparing Revenue vs. Expenses</div>
      <div class="select-container">
        <select
          [(ngModel)]="selectedYear"
          (change)="setSelectedYear()"
          id="selectedYearSummary"
          name="selectedYearSummary"
        >
          @for (year of years; track year) {
          <option [value]="year">{{ year }}</option>
          }
        </select>
        <img
          class="down-arrow-icon"
          src="assets/img/arrow-down.svg"
          alt="arrow-down"
        />
      </div>
    </div>
    <div class="content">
      <app-line-chart-expenses [view]="[1056, 200]" />
    </div>
  </div>

  <div class="expenses-breakdown">
    <div class="header">
      <div class="headline">Expenses Breakdown</div>
      <div
        class="selection"
        (click)="toggleMonthYearPicker(); $event.stopPropagation()"
      >
        <!-- Checks whether the settingsData$ observable has emitted a value -->
        @if (settingsData$ | async; as settings) {
        <p>
          {{ getSettingsMonthName(settings) }}
          {{ getSettingsYear(settings) }}
        </p>
        }
        <img
          class="down-arrow-icon"
          src="assets/img/arrow-down.svg"
          alt="arrow-down"
        />
      </div>

      <!-- Checks whether the settingsData$ observable has emitted a value -->
      @if (settingsData$ | async; as settings) {
      <app-month-year-picker
        [selectedMonth]="getSettingsMonth(settings)"
        [selectedYear]="getSettingsYear(settings)"
        (mouseleave)="toggleMonthYearPicker()"
      ></app-month-year-picker>
      }
    </div>
    <app-breakdown></app-breakdown>
  </div>
</section>
