@use "./../../../../assets/styles/colors.scss" as *;

.savings-target {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 24px;

  .target {
    display: flex;
    gap: 6px;

    .description {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      color: #878787;
    }

    span {
      height: 19.5px;
      font-size: 16px;
      font-weight: 700;
    }

    img {
      width: 24px;
      height: 40px;
    }
  }
}
