<div class="savings-target">
  <div class="target">
    <img src="assets/img/goals/award.svg" alt="award" />
    <div class="description">
      <p>Target Achieved</p>
      <span *ngIf="globalBalance$ | async as globalBalance">{{
        globalBalance$ | async | currency : "USD"
      }}</span>
    </div>
  </div>
  <div class="target">
    <img src="assets/img/goals/goal.svg" alt="goal" />
    <div class="description">
      <p>Savings Target</p>
      <span *ngIf="savingsTargetAmount != 0">{{
        savingsTargetAmount | currency : "USD" : "symbol" : "1.0-0"
      }}</span>
    </div>
  </div>
</div>
