<section class="transactions-card">
  <nav>
    <ul>
      <li>
        <a (click)="setFilter('all')" [class.active]="selectedType === 'all'">
          All
        </a>
      </li>
      <li>
        <a
          (click)="setFilter('revenue')"
          [class.active]="selectedType === 'revenue'"
        >
          Revenue
        </a>
      </li>
      <li>
        <a
          (click)="setFilter('expense')"
          [class.active]="selectedType === 'expense'"
        >
          Expenses
        </a>
      </li>
    </ul>
  </nav>

  <div
    class="transactions-content"
    *ngIf="transactionsData$ | async as transactions"
  >
    <div
      class="transaction"
      *ngFor="let transaction of getFilteredTransactions(transactions)"
    >
      <div class="left-content">
        <div class="item">{{ transaction.item }}</div>
        <div class="shop">{{ transaction.shop }}</div>
      </div>
      <div class="right-content">
        <div class="amount">
          <img
            *ngIf="transaction.type === 'revenue'"
            src="assets/img/transactions/revenue.svg"
            alt="revenue icon"
          />
          <img
            *ngIf="transaction.type === 'expense'"
            src="assets/img/transactions/expense.svg"
            alt="expense icon"
          />
          {{ transaction.formattedAmount }}
        </div>
        <div class="date">{{ transaction.formattedDate }}</div>
      </div>
    </div>
  </div>
</section>
