<section class="transactions-card">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/overview"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >All</a
        >
      </li>
      <li>
        <a routerLink="/overview/revenue" routerLinkActive="active">
          Revenue
        </a>
      </li>
      <li>
        <a routerLink="/overview/expenses" routerLinkActive="active">
          Expenses
        </a>
      </li>
    </ul>
  </nav>

  <div class="transactions-content">
    <div class="transaction">
      <div class="left-content">
        <div class="item">Polo Shirt</div>
        <div class="shop">XL fashions</div>
      </div>
      <div class="right-content">
        <div class="amount">$20.00</div>
        <div class="date">17 May 2023</div>
      </div>
    </div>
  </div>
</section>
