<section class="goals">
  <!-- Goals -->
  <app-headline [title]="'Goals'"></app-headline>

  <div class="goal-overview">
    <div class="saving-goal">
      <div class="header">
        <p>Saving Goal</p>
      </div>
      <div class="content">
        <div class="left">
          <app-savings-target
            (savingsTargetIdChange)="onSavingsTargetIdChange($event)"
            (savingsTargetAmountChange)="onSavingsTargetAmountChange($event)"
          ></app-savings-target>
        </div>
        <div class="right">
          <app-manometer
            [maxValue]="savingsTargetAmount"
            [currentValue]="globalBalance$ | async"
            [showManometer]="(allDataLoaded$ | async) ? true : false"
          ></app-manometer>
        </div>
      </div>
      <div class="button">
        <app-button
          buttonText="Adjust Goal"
          buttonSize="small"
          buttonIcon="edit"
          [buttonFilled]="false"
          (click)="setGoalOverlay(savingsTargetId, 0)"
        />
      </div>
    </div>

    <div class="saving-summary">
      <div class="header">
        <p>Saving Summary</p>
        <div class="select-container">
          <select
            [(ngModel)]="selectedYear"
            (change)="setSelectedYear()"
            id="selectedYearSummary"
            name="selectedYearSummary"
          >
            @for (year of years; track year) {
            <option [value]="year">{{ year }}</option>
            }
          </select>
          <img
            class="down-arrow-icon"
            src="assets/img/arrow-down.svg"
            alt="arrow-down"
          />
        </div>
      </div>
      <app-line-chart [selectedYear]="selectedYear"></app-line-chart>
    </div>
  </div>

  <!-- Expenses Goals -->
  <app-headline [title]="'Expenses Goals by Category'"></app-headline>

  <div class="expense-goals">
    <!-- Goal -->
    <ng-container *ngIf="allGoals$ | async as allGoals; else loading">
      @for (goal of filterGoals(allGoals); track goal.index) {
      <div class="goal">
        <img
          [src]="'assets/img/goals/' + goal.goal.toLowerCase() + '.svg'"
          alt=""
        />
        <div class="container">
          <div class="category">{{ goal.goal }}</div>
          <div class="amount">{{ goal.formattedAmount }}</div>
        </div>
        <app-button
          buttonText="Adjust"
          buttonSize="small"
          buttonIcon="edit"
          [buttonFilled]="false"
          (click)="setGoalOverlay(goal.id ?? '', goal.index)"
        />
      </div>
      }
    </ng-container>

    <!-- Loading Goal -->
    <ng-template #loading>
      <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="goal skeleton">
        <img src="assets/img/sync.svg" alt="sync" />
        <div class="container">
          <div class="category placeholder"></div>
          <div class="amount placeholder"></div>
        </div>
        <app-button
          buttonText="Loading..."
          buttonSize="small"
          [buttonFilled]="false"
          [disabled]="true"
        />
      </div>
    </ng-template>
  </div>
</section>
