<section class="goals">
  <!-- Goals -->
  <div class="headline">Goals</div>

  <div class="goal-overview">
    <div class="saving-goal">
      <div class="header"><p>Saving Goal</p></div>
      <div class="content">
        <div class="left">
          <div class="target">
            <img src="assets/img/goals/award.svg" alt="award" />
            <div class="description">
              <p>Target Achieved</p>
              <span>{{ globalBalance$ | async | currency : "USD" }}</span>
            </div>
          </div>
          <div class="target">
            <img src="assets/img/goals/goal.svg" alt="goal" />
            <div class="description">
              <p>Savings Target</p>
              <span>{{
                savingsTargetAmount | currency : "USD" : "symbol" : "1.0-0"
              }}</span>
            </div>
          </div>
        </div>
        <div class="right">
          <app-manometer
            [maxValue]="savingsTargetAmount"
            [currentValue]="globalBalance$ | async"
          ></app-manometer>
          <p>Target vs Achievement</p>
        </div>
      </div>
      <div class="button">
        <app-button
          buttonText="Adjust Goal"
          buttonSize="small"
          buttonIcon="edit"
          [buttonFilled]="false"
          (click)="setGoalOverlay(savingsTargetId, 0)"
        />
      </div>
    </div>

    <div class="saving-summary">
      <div class="header"><p>Saving Summary</p></div>

      <app-line-chart></app-line-chart>
    </div>
  </div>

  <!-- Expenses Goals -->
  <div class="headline">Expenses Goals by Category</div>

  <div class="expense-goals">
    @for (goal of allGoals$ | async; track goal.index) {
    <div class="goal" *ngIf="goal.id !== '' && goal.goal !== 'Global'">
      <img
        [src]="'assets/img/goals/' + goal.goal.toLowerCase() + '.svg'"
        alt=""
      />
      <div class="container">
        <div class="category">{{ goal.goal }}</div>
        <div class="amount">${{ goal.amount / 100 | number : "1.2-2" }}</div>
      </div>
      <app-button
        buttonText="Adjust"
        buttonSize="small"
        buttonIcon="edit"
        [buttonFilled]="false"
        (click)="setGoalOverlay(goal.id, goal.index)"
      />
    </div>
    }
  </div>
</section>
