<section class="goals">
  <div class="headline">Goals</div>

  <div class="goal-overview">
    <div class="saving-goals">
      <div class="header"><p>Saving Goal</p></div>
    </div>

    <div class="saving-summary">
      <div class="header"><p>Saving Summary</p></div>
    </div>
  </div>

  <div class="headline">Expenses Goals by Category</div>

  <div class="expense-goals">
    <div class="goal">
      <img src="assets/img/goals/housing.svg" alt="" />
      <div class="container">
        <div class="category">Housing</div>
        <div class="amount">$250.00</div>
      </div>
      <app-button
        buttonText="Adjust"
        buttonSize="small"
        buttonIcon="edit"
        [buttonFilled]="false"
      />
    </div>

    <div class="goal center">
      <app-button buttonText="Add Goal" />
    </div>
  </div>
</section>
