@if (pickerOpen) {
<div class="month-year-picker" (mouseleave)="toggleDatePicker()">
  <!-- Year selection -->
  @if (!yearSelected) {
  <div class="content">
    <div class="months-years">
      <p>Select Year:</p>

      <!-- Iterates over the list of years and creates buttons for selection -->
      @for (year of years; track $index) {
      <button (click)="handleYearSelection(year)">
        {{ year }}
      </button>
      }
    </div>
  </div>
  }

  <!-- Month selection, is only displayed when a year has been selected -->
  @if (yearSelected) {
  <div class="content">
    <div class="months-years">
      <p>Select Month:</p>

      <!-- Iterates over the list of months and creates buttons for selection -->
      @for (month of filteredMonths; track month.value) {
      <button
        (click)="handleMonthSelection(month.value)"
        [disabled]="
          month.disabled ||
          (month.value === selectedMonth && transferredYear === selectedYear)
        "
        [ngClass]="{
          'selected-month':
            month.value === selectedMonth && transferredYear === selectedYear
        }"
      >
        {{ month.name }}
      </button>
      }
    </div>
  </div>
  }

  <!-- Option to select all months if this is not deactivated -->
  @if (yearSelected && !hideSelectAllMonths) {
  <div class="content">
    <span (click)="handleSelectAllMonths()">Select all months</span>
  </div>
  }
</div>
} @else {
<div class="selection" (click)="toggleDatePicker(); $event.stopPropagation()">
  <!-- Checks whether the settingsData$ observable has emitted a value -->
  @if (settingsData$ | async; as settings) {
  <p>
    {{ getSettingsMonthName(settings) }}
    {{ getSettingsYear(settings) }}
  </p>
  }
  <img
    class="down-arrow-icon"
    src="assets/img/arrow-down.svg"
    alt="arrow-down"
  />
</div>
}
