@use "./../../../../assets/styles/colors.scss" as *;

.month-year-picker {
  width: 270px;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 20px 25px 0px #4c67641a;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--color-background);
  padding: 16px 6px;
  margin-bottom: 6px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

  .months-years {
    display: block;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 12px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }
  }
}

button {
  min-width: 60px;
  border: none;
  padding: 9px 12px;
  margin: 6px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &:hover {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
  }

  &:disabled {
    color: #bcbcbc;
    background-color: #f0f0f0;
    cursor: default;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 5px var(--color-primary);
  }
}

.selected-month {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  box-shadow: 0px 0px 10px rgba(var(--color-primary), 0.5) !important;
}

// Select field

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  p {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
    margin-right: 6px;
  }

  &:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(8%) saturate(2879%)
      hue-rotate(125deg) brightness(77%) contrast(97%);
  }
}
