<section class="details">
  <div class="details-content" *ngIf="accountData$ | async as account">
    <div class="details-item">
      <label>Bank Name</label>
      <span>{{ account.name }}</span>
    </div>

    <div class="details-item">
      <label>Account Type</label>
      <span>{{ account.type }}</span>
    </div>

    <div class="details-item">
      <label>Balance</label>
      <span>{{ account.balance }} €</span>
    </div>

    <div class="details-item">
      <label>Account Number</label>
      <span>{{ account.number }}</span>
    </div>

    <div class="details-item">
      <label>Added Date</label>
      <span>{{ account.added }}</span>
    </div>

    <div class="details-item placeholder"></div>
  </div>

  <div class="details-buttons">
    <app-button buttonText="Edit Details" />
    <div class="link">Remove</div>
  </div>
</section>
