@use "./../../../../assets/styles/colors.scss" as *;

.details {
  height: fit-content;
}

.details-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;

  .placeholder {
    visibility: hidden;
  }

  .details-item {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1;

    label {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 3px;
      color: #9f9f9f;
    }
    span {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.details-buttons {
  display: flex;
  align-items: center;
  gap: 48px;

  .link {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }
}
