@use "./../../../../assets/styles/colors.scss" as *;

.history {
  height: fit-content;
}

.history-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.no-transactions {
  font-size: 16px;
  font-weight: 400;
  color: #696969;
  padding-top: 15px;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;

  th {
    font-size: 16px !important;
    font-weight: 700 !important;
    padding-bottom: 15px;
    text-align: left;
  }

  td {
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    padding: 15px 0;
    text-align: left;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
    text-align: right;
  }

  .amount {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
  }
}
