<div class="history">
  <div
    class="history-content"
    *ngIf="currentTransactionsData$ | async as transactions"
  >
    <table>
      <thead>
        <tr>
          <th class="left">Date</th>
          <th class="center">Description</th>
          <th class="center">Shop</th>
          <th class="center">Transaction Type</th>
          <th class="right">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of currentTransactionsData$ | async">
          <td class="left">{{ transaction.date | date : "MMM d, yyyy" }}</td>
          <td class="center">{{ transaction.description }}</td>
          <td class="center">{{ transaction.shop }}</td>
          <td class="center" *ngIf="currentAccountData$ | async as account">
            {{ account.type }}
          </td>
          <td class="right">
            <div class="amount">
              <img
                *ngIf="transaction.type === 'revenue'"
                src="assets/img/transactions/revenue.svg"
                alt="revenue icon"
              />
              <img
                *ngIf="transaction.type === 'expense'"
                src="assets/img/transactions/expense.svg"
                alt="expense icon"
              />
              {{ transaction.amount / 100 | currency : "USD" }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="no-transactions"
      *ngIf="(currentTransactionsData$ | async)?.length === 0"
    >
      No transactions available
    </div>
  </div>

  <div class="history-button">
    <app-button
      buttonText="Load More"
      [disabled]="(currentTransactionsData$ | async)?.length <= 8"
    />
  </div>
</div>
