@use "./../../../../assets/styles/colors.scss" as *;

.goal-overview-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .content {
    display: flex;
    align-items: center;
    height: 170px;
    gap: 6px;

    .left,
    .right {
      width: 50%;
    }
  }
}
