<div class="goals-overlay">
  <div class="target" *ngIf="currentGoal as goalItem">
    <p>Target Amount</p>
    <div class="input-wrapper">
      <span class="currency-symbol">$</span>
      <input
        type="number"
        (input)="onInput($event)"
        [(ngModel)]="goalItem.amount"
        [value]="goalItem.amount"
        (focus)="onFocus(goalItem)"
        (blur)="onBlur(goalItem)"
        min="0"
      />
    </div>
    <div class="error-message">{{ errorMessage }}</div>
  </div>
  <app-button
    buttonText="Save"
    (click)="saveOverlay()"
    [disabled]="errorMessage != ''"
  ></app-button>
</div>
