<section class="transactions" *ngIf="transactionsData$ | async as transactions">
  <div class="headline">
    Recent Transaction
    <div
      class="selection"
      (click)="toggleMonthYearPicker(); $event.stopPropagation()"
    >
      <p>{{ selectedMonthName }} {{ selectedYear }}</p>
      <img
        class="down-arrow-icon"
        src="assets/img/arrow-down.svg"
        alt="arrow-down"
      />
    </div>
    <app-month-year-picker
      [selectedMonth]="selectedMonth"
      [selectedYear]="selectedYear"
      [allTransactions]="transactions"
      (mouseleave)="toggleMonthYearPicker()"
    ></app-month-year-picker>
  </div>

  <nav>
    <ul>
      <li>
        <a (click)="setFilter('all')" [class.active]="selectedType === 'all'">
          All
        </a>
      </li>
      <li>
        <a
          (click)="setFilter('revenue')"
          [class.active]="selectedType === 'revenue'"
        >
          Revenue
        </a>
      </li>
      <li>
        <a
          (click)="setFilter('expense')"
          [class.active]="selectedType === 'expense'"
        >
          Expenses
        </a>
      </li>
    </ul>
  </nav>

  <div class="transactions-content">
    <table>
      <thead>
        <tr>
          <th class="left">Item</th>
          <th class="center">Shop</th>
          <th class="center">Date</th>
          <th class="center">Payment Method</th>
          <th class="right">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of getFilteredTransactions(transactions)">
          <td class="left">{{ transaction.item }}</td>
          <td class="center">{{ transaction.shop }}</td>
          <td class="center">{{ transaction.formattedDate }}</td>
          @for(account of accountsData$ | async; track account.id) {
          <!-- Payment method -->
          @if (account.id == transaction.accountId) {
          <td class="center">{{ account.type }}</td>
          } }
          <td class="right">
            <div class="amount">
              <img
                *ngIf="transaction.type === 'revenue'"
                src="assets/img/transactions/revenue.svg"
                alt="revenue icon"
              />
              <img
                *ngIf="transaction.type === 'expense'"
                src="assets/img/transactions/expense.svg"
                alt="expense icon"
              />
              {{ transaction.formattedAmount }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="no-transactions"
      *ngIf="getFilteredTransactions(transactions).length === 0"
    >
      No transactions available
    </div>

    <div class="transactions-button">
      <app-button
        buttonText="Load More"
        [disabled]="getFilteredTransactions(transactions).length <= 8"
      />
    </div>
  </div>
</section>
