<section class="transactions">
  <div class="headline">Recent Transaction</div>

  <nav>
    <ul>
      <li>
        <a
          routerLink="/transactions"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >All</a
        >
      </li>
      <li>
        <a routerLink="/transactions/revenue" routerLinkActive="active">
          Revenue
        </a>
      </li>
      <li>
        <a routerLink="/transactions/expenses" routerLinkActive="active">
          Expenses
        </a>
      </li>
    </ul>
  </nav>

  <div
    class="transactions-content"
    *ngIf="transactionsData$ | async as transactions"
  >
    <table>
      <thead>
        <tr>
          <th class="left">Items</th>
          <th class="center">Shop Name</th>
          <th class="center">Date</th>
          <th class="center">Transaction Type</th>
          <th class="right">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactionsData$ | async">
          <td class="left">{{ transaction.item }}</td>
          <td class="center">{{ transaction.shop }}</td>
          <td class="center">{{ transaction.formattedDate }}</td>
          <td class="center">Type</td>
          <td class="right">
            <img
              *ngIf="transaction.type === 'revenue'"
              src="assets/img/transactions/revenue.svg"
              alt="revenue icon"
            />
            <img
              *ngIf="transaction.type === 'expense'"
              src="assets/img/transactions/expense.svg"
              alt="expense icon"
            />
            {{ transaction.formattedAmount }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="no-transactions" *ngIf="transactions.length === 0">
      No transactions available
    </div>

    <div class="transactions-button">
      <app-button
        buttonText="Load More"
        [disabled]="transactions.length <= 8"
      />
    </div>
  </div>
</section>
